body {
  background: rgb(87, 255, 124);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  text-align: center;
}
.search-form {
  margin: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0 0 0 30px;
  list-style: none;
}

.load-more-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  background-color: rgb(115, 147, 252);
  border: 2px solid rgb(252, 45, 45);
  border-radius: 4px;
}
.material-icons {
  margin-right: 5px;
  color: rgb(62, 89, 241);
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 30px 20px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  & > img {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(247, 48, 48, 0.678) 0 0 10px 5px;
  }
}
.stats {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 8px;
  font-size: 11px;
  border-radius: 0 0 4px 4px;

  &-item {
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-right: 10px;
    color: #000000;
  }
}
